<!--NAVIGATION-->


[[step06. 변수 학습 page로 이동](step06VariableOperators.ipynb) ] | [[step08.comprehension 학습 page로 이동](step08Comprehension.ipynb) ]

**기호가 의미하는 횟수**

1. 아무것도 없음 : 무조건 한번
2. \+ : 1 ~ 무한대를 의미
3. \* : 0 ~ 무한대를 의미
4. ? : 0 또는 1

<hr>

def my_function(*kid) :
    함수 인자 상관없이 막 사용가능 
    
def my_function(**kid) :
    마음대로하세요

### 함수 구현의 다양한 문법 

- 인수(argument) - 호출 프로그램에 의하여 함수에 전달되는 값
- 매개변수(parmeter) - 인수값을 전달받는 변수

--------------------------------------------------------

- 디폴트 인수 : 함수의 매개 변수가 기본값 보유
- 키워드 인수 : 인수들 앞에 키워드를 두어 인수 구분
- 임의의 인수 목록 : 인자의 개수가 정해지지 않은 가변 인수를 전달
- 람다 함수 : 이름이 없는 한줄짜리 함수

- ctrl + shift + - : 셀 나누기

In [3]:
# 반환값이 여러개도 가능, 반환 시 tuple 타입으로 자동 변환되면서 반환
# python은 타입이 실행 시 동적으로 자동 변경

def f1():
    return 1, 2

print(f1())

(1, 2)

In [5]:
def f1():
    return 1,2,3

v=f1()
print(v)
print((type(v)))

(1, 2, 3)
<class 'tuple'>

In [2]:
def f2():
    return 'a', 2

v1, v2 = f2()   # 언패킹
print(v1, v2)

a 2

### 1. 디폴트(default) 인수

In [7]:
# 매개변수 기본 초기화값 활용하는 함수
# 호출 : 함수명(값1), 함수명(값1, 값2)

def fun1(name, age=10) :
    print(name, age)
    
fun1('유재석')
fun1('백종원', 100)

유재석 10
백종원 100

### 2. 키워드 인수

- **kwargs : keyword argument 줄임말
- **kwargs : 키워드=특정값 형태로호출

In [14]:
def fun2(x, y, z):
    return x + y + z

In [15]:
fun2(10, 20, 30)

60

In [16]:
fun2(x=10, y=20, z=30)

60

In [17]:
fun2(z=10, y=20, x=30)   # 이런식으로 인자를 선택해서 입력해주면 순서 노상관

60

In [22]:
# **kwargs 사용
def fun3(**kwargs) :         # x=10, y=20, z=30
    print(kwargs)             # {'x': 10, 'y': 20, 'z': 30}
    print(type(kwargs))       # <class 'dict'>
    print(kwargs['x'])        # dict 데이터 사용 문법으로 활용
    print(kwargs.items())

In [23]:
fun3(x=10, y=20, z=30)

{'x': 10, 'y': 20, 'z': 30}
<class 'dict'>
10
dict_items([('x', 10), ('y', 20), ('z', 30)])

In [37]:
# **kwargs 사용 + 반복문과 items()
def fun4(**kwargs) :
    for i in kwargs :
        print(i,kwargs[i])

In [38]:
fun4(x=10, y=20, z=30)

x 10
y 20
z 30

### 3. 임의의 인수

- *를 사용할 경우 인수는 튜퓰 형식
- 가변인자 활용

In [40]:
def fun3(*args, sep='-') :
    print(sep.join(args))

In [41]:
fun3('a', 'b')

a-b

In [42]:
fun3('a', 'b', 'c')

a-b-c

**미션-
일회용 패스워드 생성기를 이용하여서 3개의 패스워드를 생성하여 출력하는 프로그램을 작성해 보기**

출력 예시 : 
    
ouuc4c <br>
uuahtp <br>
79s6oz <br>

In [58]:
# print()는 별도의 표기 없이도 호출해서 사용이 가능한 내장 함수
# import 는 제공받은 library이기는 하나 사용시 사용하겠다는 선언이 필요함

import random     # random 이라는 library 또는 module을 사용하겠다.

print(random.randrange(36)) #0~35

6

In [17]:
alphabet = "abcdefghijklmnopqrstuvwxyz0123456789"
#print(len(alphabet))
alphabet[35]

'9'

random() :0 이상 1 미만

randrange() : 1에서 6까지의 정수 중 하나를 무작위로 반환

In [109]:
import random

def genPass():
    alphabet = "abcdefghijklmnopqrstuvwxyz0123456789"
    password = ""
    
    for i in range(6) :
        rand_num = random.randrange(36)
        password += alphabet[rand_num]
    
    
    return password


print(genPass())
print(genPass())
print(genPass())

fb8vfs
oadfx4
v4vkx0

### 4. 람다 함수

- 이름없이 정의된 익명함수 
- 매개변수 제한이 없음, 단 하나의 값만 반환
- 함수의 반환, 변수의 데이터값으로 사용 가능
- list의 sort의 key속성의 값으로도 사용 가능(실전 응용)
- 문법 :<br>
lambda 인자[,..] : 표현식(수식)

In [92]:
# lambda arguments : expression
# x는 대입 받는 변수
# lambda : 식으로 함수처럼 기능 구현 하겠다는 표기의 선언, 이름없ㄴㄴ 함수 또는 식이라 표현
# a : 식 수행 시 필요로 하는 데이터를 받는 변수(argument or parameter)
# : 구분자

x = lambda a : a + 10
    
# 실행 시에는 식을 대입받는 변수명(값)으로 호출하고 return 받는 데이터 활용
print(x(5))

15

In [112]:
def sum(x) :
    return x + 10

print(sum(100))

110

In [114]:
# ? 상단 코드를 lambda식으로 구성해보기

x = lambda a : a + 10
print(x(100))

110

In [115]:
sum3 = lambda a, b: a+b

print(sum3(100,200))

300

In [1]:
mylist=[1, 5, 3, 9, 8, 4, 2]
mylist.sort()

In [2]:
mylist

[1, 2, 3, 4, 5, 8, 9]

In [31]:
mylist=[ 1, 5, 3, 9, 8, 4, 2]

In [33]:
mylist=[1, 5, 3, 9, 8, 4, 2]

[1, 2, 3, 4, 5, 8, 9]

In [116]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [119]:
mylist2.sort(key=lambda a : a[2])   # a[2]의 값을 통해 sort
mylist2

[('lee', 27, 99), ('kim', 23, 100), ('park', 43, 102)]

In [120]:
mylist2.sort(key=lambda a : a[2],reverse = True)   # a[2]의 값을 통해 sort
mylist2

[('park', 43, 102), ('kim', 23, 100), ('lee', 27, 99)]

In [36]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2.sort(key=lambda a : a[0])
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [122]:
# 대소문자 구분없이 sort 함수로 정렬 
# 람다 사용해서 소문자로 변경해서 정렬 
# lower() : 소문자로 변경하는 함수
# upper() : 대문자로 변경하는 함수
mylist3 = ['Spam', 'egg', 'Ham']

for v in mylist3:
    print(v.lower())
    
    
print(mylist3)

mylist3.sort(key=lambda x: x.lower())

print(mylist3)

spam
egg
ham
['Spam', 'egg', 'Ham']
['egg', 'Ham', 'Spam']

In [38]:
mydict1 = {'one':1, 'two':2, 'three':3}
sorted(mydict1)

['one', 'three', 'two']

### 5. map() 함수

- 문법 : map(함수, 리스트)
- 시퀀스의 모든 항목에 함수를 적용한 결과 리스트 반환

In [128]:
# map() : 다수의 데이터에 공통된 로직 일괄 처리 가능한 기능의 함수
# 사용방법 : map(기능보유한함수명 or 람다식,
#                첫번째 parameter로 입력된 기능이 사용할 데이터)
# 대량의 빅데이터 일괄처리 하는 기능의 sw 대표적인 하둡 내부에서도
# 사용되는 기능
def myfunc(n) :
    print(n)
    return len(n)

x=map(myfunc, ('apple', 'banana','cherry'))

# list(x) : map 이라는 객체가 보유한 데이터들을 실제 사용가능하게 가공한 구조
print(list(x))

apple
banana
cherry
[5, 6, 6]

In [129]:
list(map(lambda n : len(n), ['apple', 'banana','cherry']))

[5, 6, 6]

In [131]:
def cube(x):
    return x**2

list(map(cube,range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
list(map(lambda x : x**2, range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
def cube(x):
    return x**2

list(map(cube, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
for i in range(5):
    print(i**2)

0
1
4
9
16

### 6. reduce() 함수
- 주로 집계용으로 사용
- 사용을 위해서는 functools 모듈 선언

In [133]:
from functools import reduce

'''
x, y 
    1, 2 -> 3
    3, 3 -> 6
    6, 4 -> 10
    10, 5 -> 15
'''

data = reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
print(data)

15

In [135]:
#상단 reduce에 사용된 lambda의 로직을 단순 python 문법으로 개발한 코드

def userReduce():
    x = 1
    
    sum = 0
    for y in range(2,6):
        sum = x + y
        x = sum
    print(x)

userReduce()

15

### 7. filter()

- 데이터의 일부만 착출 가능한 기능의 즉 필터링 기능의 함수
- 시퀀스의 항목들 중 함수 조건이 True인 항목만 추출
- 문법 : filter(함수, 리스트)

In [136]:
list(filter(lambda x : x < 5,range(10)))

[0, 1, 2, 3, 4]

**미션** : (123,) 값이 출력될 수 있도록 ? 부분 완성하세요

In [140]:
list2 = (10,22,37,41,100,123,29)

In [141]:
list(filter(lambda x : x == 123, list2))

[123]

### 8. Collection 함수

- 순서값과 요소값을 한번에 구하는 내장 함수
- 기본 for문을 활용해서 학생 순번에 맞게 list 점수 출력
- enumerate() 활용해서 순서와 요소값을 한번에 튜플로 반환

In [2]:
score = [80, 30, 70, 85, 90]

for no in range(len(score)):
    print(str(no+1) + '번 학생의 성적 : ', score[no])

1번 학생의 성적 :  80
2번 학생의 성적 :  30
3번 학생의 성적 :  70
4번 학생의 성적 :  85
5번 학생의 성적 :  90

In [15]:
score = [80, 30, 70, 85, 90]