<!--NAVIGATION-->


[[step01. 기본 연산 학습 page로 이동](step01Calculation.ipynb) ]   |   [[step03_1. 데이터 타입 학습 page로 이동](step03_1DataType.ipynb) ]

## 조건문 & 반복문을 이용한 프로그램 응용력 향상하기

1. 연산자
> 1. = : 오른쪽의 데이터를 왼쪽에 대입(할당) 연산자
> 2. == : 동등비교 연산자
> 3. != : 부정 연산자


2. 조건식
> 1. pass : 아무것도 실행하지 않음, 단순히 실행할 코드가 없다는 의미
> 2. continue : 해당 로직을 제외하고 다음 loop 실행하란 의미

3. 반복문 : 동일한 명령문을 여러번 실행
> 1. for : 정해진 횟수만큼  반복하는 구조<br>
> 2. while : 어떤 조건이 만족되는 동안, 반복을 계속하는 구조

4. 키워드
> 1. def - 사용자 정의 함수를 만들겠다는 선언구 
> 2. return - 함수 내부에서 해당 함수를 호출한 곳으로 값을 돌려주는 키워드
> 3. if / elif / else - 조건식
> 4. True / False - boolean 표현

In [ ]:
'''
조건문
1. 조건이 true인 경우에만 하는 상황

2. 조건이 true인 경우와 false 경우 실행되는 로직이 명확히 구분되어야 할 상황

3. 조건이 여러개인 경우의 상황


---
1. 로그인 인증 
  id/pw 둘다 인증
    경우의 수 1 - id와 pw 비교시 id도 true 그리고 pw도 true    O
    경우의 수 2 - id는 true 또는 pw는 true   (id가 true 이거나 또는 pw가 true 즉 둘중에 하나만 true 여도 되는 상황을 표현) X

    경우의 수 3 - id는 true 그리고 pw는 false     X
    경우의 수 4 - id는 false 그리고 pw는 true     X
    경우의 수 5 - id는 false 그리고 pw는 false    X

2. 의사 코드
  말로 하는 코딩
  말로 하는 로직의 흐름을 서술하는 형식 의사 코드
  문법은 고려하지 않음 표현

  경우의 수 1 : 
  만약에 id가 true라면           if id==True:
    pw가 true인지 비교              if pw==True

  
  경우의 수 2 : 
    만약에 id가 true이고  pw가 true인지 비교          if id==True and pw==True

  경우의 수 3  - 부적합
     만약에 id가 true 또는  pw가 true인지 비교 
    if id==True 개별 문장
    if pw==True 개별 문장
    ....

'''

In [ ]:
# True인 경우만 고려하는 단일 조건식
if True:
  print("True인 경우만 실행")

True인 경우만 실행

In [ ]:
if 'a' == 'a':
  print("True인 경우만 실행")

True인 경우만 실행

In [ ]:
if 'a' != 'a':
  print("True인 경우만 실행")

In [ ]:
# True인 경우와 false 경우를 고려하는 조건식
# if else
# :  콜론이라 읽음    , 콤마    ; 세미콜론
if 'a' != 'a':
  print("True인 경우만 실행")
else:
  print("조건식이 False인 경우만 실행")

조건식이 False인 경우만 실행

In [ ]:
# 다중 조건식
# if / elif / else
a = 10

if a < 5:  
  print("5보다 작다") 
elif a <= 10 :
  print("10보다 작거나 같다") 
else:
  print("이도저도 아니더라")

10보다 작거나 같다

In [ ]:
# python 에서 기능을 재사용 할수 있게 구현하는 함수 개발
# def 함수명( [new데이터 받을수 있는 문법 공간] ):
#   함수 로직
#   [결과값 반환 로직]

def my_fun(a):
  if a < 5:  
    print("5보다 작다") 
  elif a <= 10 :
    print("10보다 작거나 같다") 
  else:
    print("이도저도 아니더라")

my_fun(10)

10보다 작거나 같다

In [ ]:
my_fun(3)

5보다 작다

In [ ]:
# ???  실시간 입력되는 데이터는 문자열, playdata 라는 문자열에 한해서만 encore 출력되게 만들기

def edu_name(msg):
  if msg == 'playdata':
    print('encore')
  else:
    print('틀렸어')

In [ ]:
edu_name('encore')    # 틀렸어 출력

틀렸어

In [ ]:
edu_name('playdata')   # encore 출력

encore

In [ ]:
def edu_name2(msg):
  if msg == 'playdata':
    return 'encore'
  else:
    return '틀렸어'

In [ ]:
# 함수 실행 결과값을 받아서 새로운 문자열 조합해서 출력 
# + 기호의 기능 두가지
# + : 산술 연산의 더하기 / 데이터들 결합 

# 결합 연산자

print("반환된 결과값 " + edu_name2('encore'))

반환된 결과값 틀렸어

```
  ` : 백틱 이라 읽음
  
  print("반환된 결과값 " + edu_name2('encore')) 

  1. print() : 콘솔창에 출력하는 기능의 내장 함수
  2. eud_name2() : python 사용하는 개발자를 [python 언어] 사용자가 구현한 함수 (사용자 정의 함수)

  3. 실행 순서
    print() 호출(call) -> "반환된 결과값 " 문자열이 메모리에 생성 -> + 실행 시작 -> edu_name2('encore') 호출 시작 -> encore 문자열 생성 -> 실행 edu_name2 실행 -> 결과값이 반환되어 옴 -> + 연산자가 결과값 결합 -> print() 실행 즉 출력 마무리 
```

In [ ]:
# ??? 두개의 데이터 받아서 더한 결과값을 반환(return)하는 더하기(산술연산 + ) 함수 만들기

def my_sum(v1, v2):
  return v1 + v2   # return 이 기능의 함수를 호출한 곳으로 값을 전달하는 기능의 키워드

In [ ]:
# 다수의 데이터들은 , 가 구분자
# 두개의 메모리 필요
print(my_sum(10, 20))   # 30

30

In [ ]:
print(my_sum(100, 20))   # 120

120

In [ ]:
def my_sum(v1, v2):
  v1 + v2  # 더하기만 하고 끝남 즉 이 함수 기능을 통해서 더한 결과값을 활용하기 위해 다른 곳에서 호출한 경우 더한 결과값 못받음

In [ ]:
# 입력하는 id값(실시간 가변적인 동적 데이터)을 받아서 로직 수행 후 검증한 결과값을 client에게 반환
# client 는 데이터를 입력 ->server에 전송
# server는 데이터를 받고 -> 검증 -> 인증 결과값을 client에게 응답(출력, 결과 리턴)


데이터 받고 - 받을수 가변적인 문법
처리하고  - 조건 비교
리턴 - return 

여러명이 요청하는 로직 - 재사용성 고려
필요시 마다 호출 - 이름


def 이름(데이터 받는 영역):

  if ...:  
  elif ... :
  else:

  return 결과값;

**미션1. 윤년  프로그램을 통한 연산자 및 조건식 이해하기**

- 4로 나누어 떨어지는 년도 : 값 % 4이 0    
- 그 중 100으로 나누어 떨어지는 년도는 윤년이 아님 : 값 % 100 의 0과 비교
- 400으로 나누어 떨어지는 년도는 무조건 윤년 : 1+2 또는 3번째 조건식 비교( 값 % 400와 0 비교)

In [ ]:
years = input()

if years % 4 == 0 :
  if years % 100 == 0 :
    print("윤년이 아닙니다")

**미션2. 문자열의 중간 문자를 추출해 보기**

문자열의 중앙에 있는 문자를 출력한다. 예를 들어서 문자열이 "weekday"이라면 중앙의 문자는 "k"가 된다.<br>
하지만 만약 문자열이 짝수개의 문자를 가지고 있다면 중앙의 2개의 글자를 출력한다.<br>
예를 들어서 "string" 문자열에서는 "ri"를 반환한다.



---

In [ ]:
def center(a) :
  if len(a)%2 == 1 :
    print(a[int(len(a)//2)])
  else :
    print(a[int(len(a)//2-1):int(len(a)//2+1)])

  i = input()
  center(i)

**미션3. 임금 계산해 보기**

사용자에게 근무 시간과 시간당 임금을 물어보고, 주당 근무 시간이 40시간을 넘으면 1.5배의 임금을 지급해야 한다고 가정할 경우<br> 
이번주에 받는 총임금을 계산하는 프로그램을 만들어 보자

## 반복문

In [12]:
# 다수의 데이터가 존재할 경우 하나씩 하나씩 뽑아서 화면에 출력
# 다수의 데이터가 있어야 하고 -> 하나씩 뽑은 데이터를 관리하는 변수 -> 출력
 
# 다수의 데이터
# 뽑은 데이터 보유 변수 = one

multi = [1, 2, 3, 4, 5]

print(multi)
print(type(multi))
print(multi[:])

for one in multi :
  print(one, end = ' ')   # 반복하면서 한 line에 데이터 출력 가능한 속성, end : 끝에 어떤걸로 할지 default는 줄바꾸기

[1, 2, 3, 4, 5]
<class 'list'>
[1, 2, 3, 4, 5]
1 2 3 4 5
1 2 3 4

In [12]:
# 0~100까지 101개의 숫자값을 출력 line 단위로
# range() : 일정 범위의 숫자값을 자동 생성해 주는 함수

for data in range(1, 5) :
  print(data, end = ' ')

In [13]:
# 0~100까지 101개의 숫자값을 출력 line 단위로
# range() : 일정 범위의 숫자값을 자동 생성해 주는 함수

for data in range(1, 10, 2) :     # 1~9까지 2 증가하며 반복
  print(data, end = ' ')

1 3 5 7 9

In [14]:
for i in range(9) :
  if i > 3 :
    break
  print(i)

0
1
2
3

In [16]:
for i in range(9) :
  if i == 3 :
    continue
  print(i)

0
1
2
4
5
6
7
8

In [19]:
# 가변적인 입력 숫자값(재사용성)으로
# range 함수에 적용해서 그 수만큼 반복
# 단, 만일 반복되는 데이터가 5인 경우 skip

# 구현
def my_for(value) :
    for i in range(value) :
        if i == 5 : 
            continue 

    else :
        print(i)

my_for(10)
my_for(7)

0
1
2
3
4
6
7
8
9
0
1
2
3
4
6

**미션 - 숫자로 pyramid 만들기**

- 중첩 for문과 range() 함수 활용

In [4]:
def pyramid() :
    value = int(input("몇 개 만드시겠어요? : "))
    
    for i in range(1, value + 1) :
        for j in range(1, i + 1) :
            print(i, end ='')
        print()
        
pyramid()

몇 개 만드시겠어요? : 5
1
22
333
4444
55555

**미션- 팩토리얼 계산하기**
>반복문을 활용하여 팩토리얼 계산해 보기<br>
for문과 while문을 활용하여 각각 만들어 보기<br>
팩토리얼 n!은 1~n까지의 정수를 모두 곱한 것을 의미한다<br>
n! = 1*2*3*...(n-1)*n

>힌트 : range() 함수를 이용

In [13]:
def factorial() :
    
    n = int(input("n의 값은? : "))
    
    result = 1
    
    for i in range(1, n + 1) :
        result *= i
        
    print(n, '! 은', result)
    
factorial()

n의 값은? : 10
10 ! 은 3628800

**미션-계좌번호 처리하기**

> 인터넷 뱅킹을 사용하다보면 계좌번호를 입력할 때, "312-02-1234567"과 사용자로부터 "-"가 포함된 계좌 번호를 받아서 "-"을 삭제한 문자열을 만들어보자.

In [18]:
past = '312-02-1234567'
new = ''
for i in past :
    if i != '-' :
        new += i
        
print(new)

312021234567

**미션 - 알파벳, 숫자, 스페이스의 처리**

> 문자열을 조사하여서 알파벳 문자의 개수, 숫자의 개수, 스페이스의 개수를 출력하는 프로그램을 작성하라

In [20]:
statement = input("문자열을 입력하시오: ")

alphas = 0    # 초기화
digits = 0    # 초기화
spaces = 0    # 초기화

for c in statement:
    if c.isalpha():    # c가 알파벳이냐? 
        alphas = alphas + 1
        
    if c.isdigit():    # c가 숫자냐?
        digits = digits + 1
    
    if c.isspace():    # c가 공백이냐?
        spaces = spaces + 1
            
print ("알파벳 문자의 개수=", alphas)
print ("숫자 문자의 개수=", digits)
print ("스페이스  문자의 개수=", spaces)

문자열을 입력하시오: ㄴㅁㅇ ㅏ니어 리나ㅓㅣㅓㄱ203ㅕ4028748920374
알파벳 문자의 개수= 13
숫자 문자의 개수= 16
스페이스  문자의 개수= 2

**실행 결과와 비교해 보면서 분석해 보기**

In [ ]:
for a in range(1, 101, 1):
    for b in range(1, 101, 1):
        for c in range(1, 101, 1):
            if( (a*a+b*b)==c*c ):
                print(a, b, c)

3 4 5
4 3 5
5 12 13
6 8 10
7 24 25
8 6 10
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 5 13
12 9 15
12 16 20
12 35 37
13 84 85
14 48 50
15 8 17
15 20 25
15 36 39
16 12 20
16 30 34
16 63 65
18 24 30
18 80 82
20 15 25
20 21 29
20 48 52
21 20 29
21 28 35
21 72 75
24 7 25
24 10 26
24 18 30
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 21 35
28 45 53
28 96 100
30 16 34
30 40 50
30 72 78
32 24 40
32 60 68
33 44 55
33 56 65
35 12 37
35 84 91
36 15 39
36 27 45
36 48 60
36 77 85
39 52 65
39 80 89
40 9 41
40 30 50
40 42 58
40 75 85
42 40 58
42 56 70
44 33 55
45 24 51
45 28 53
45 60 75
48 14 50
48 20 52
48 36 60
48 55 73
48 64 80
51 68 85
52 39 65
54 72 90
55 48 73
56 33 65
56 42 70
57 76 95
60 11 61
60 25 65
60 32 68
60 45 75
60 63 87
60 80 100
63 16 65
63 60 87
64 48 80
65 72 97
68 51 85
70 24 74
72 21 75
72 30 78
72 54 90
72 65 97
75 40 85
76 57 95
77 36 85
80 18 82
80 39 89
80 60 100
84 13 85
84 35 91
96 28 100

# 1

새로 오픈한 가게에서 오픈 이벤트를 진행한다.

방문한 손님 순서대로 10의 배수번째마다 마우스를, 100의 배수번째마다 모니터를 증정한다.

이벤트가 항목이 중복될 경우 모니터만 제공한다.

모니터 수 : 5, 마우스 수 : 50 이고 소진된 항목은 더이상 증정하지 않으며 모두 소진 시 이벤트는 종료된다.

초기 방문자 수를 입력받는다.

출력으로는 이벤트에 해당되는 방문자 순서와 제공받는 물품의 항목이 되도록 하라.

In [ ]:
def event():
    
    mouse = 50
    monitor = 2

    cus_num = int(input())
    
    for visit in range(1, cus_num+1):
        if mouse == 0 and monitor == 0:
            break
    
        if visit%10 == 0:
            if visit%100 == 0:
                if monitor == 0:
                    if mouse > 0 :
                        mouse -= 1
                        print(visit, "번째 손님 마우스 당첨입니다.")
                    else :
                        break
                else :        
                    monitor -= 1
                    print(visit, "번째 손님 모니터 당첨입니다.")
            else:
                if mouse == 0:
                    continue
                else :
                    mouse -= 1
                    print(visit, "번째 손님 마우스 당첨입니다.")

                    
event()

# 2
중간고사를 실시해서 커트라인 점수 이상이면 advanced , 이하이면 basic 반으로 배정된다.

커트라인은 70점이다.

초기 학생 수와 그에 따른 성적을 입력받는다.

출력으로 adv, basic 반의 인원수가 되도록 하라.

In [ ]:
def midterm():
    
    cutline = 70
    adv_num = 0
    basic_num = 0

    student_num = int(input())
    score = list(map(int, input().split()))
    
    for i in range(0, student_num):
        if score[i] >= cutline:
            adv_num += 1
        else:
            basic_num += 1
    
    print("advance반의 학생 수는", adv_num)
    print("basic반의 학생 수는", basic_num)
    
    
midterm()

# 1 

반복문을 사용하여 임의의 값을 받아(2~9단) 구구단을 출력하는 프로그램을 작성하시오

In [1]:
def team_dove() :
    
    value = int(input())

    for i in range(1, 10) : 
        print(value, 'x', i, '=',value * i)

        
team_dove()

10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

# 2

임의의 숫자의 범위를 정하고 (예: 0~100) 반복문을 사용하여 범위 내의 소수를 출력하는 프로그램을 작성하시오

In [22]:
def prime_num() : 
    
    value = int(input())

    for i in range(1, value + 1) :
        cnt = 0

    for j in range(1, i + 1) :
        if i % j == 0 :
            cnt += 1
    
    if cnt == 2 :
        print(i, end = ' ')

        
prime_num()

50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47